USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[UT_OPERS__CLASSES] AS
SELECT [SYS.USER.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(20)) AS [SYS.USER.CLASSES]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[UT_OPERS]
  
 CROSS APPLY dw_util.DelimitedSplit8K([SYS.USER.CLASSES],', ') CA1
 WHERE COALESCE(TRIM([SYS.USER.CLASSES]),'') != ''
 
GO
