USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[PERPOSWG__WAGE_GL] AS
SELECT [PERPOSWG.ID]
       
     , CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(10)) AS [PPWG.PI.PAY.RATE]
     , CAST(LTRIM(RTRIM(CA2.Item)) AS VARCHAR(22)) AS [PPWG.PI.GL.NO]
     
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[PERPOSWG]
  
 CROSS APPLY dw_util.DelimitedSplit8K([PPWG.PI.PAY.RATE],', ') CA1
 CROSS APPLY dw_util.DelimitedSplit8K([PPWG.PI.GL.NO],', ') CA2
 WHERE COALESCE(TRIM([PPWG.PI.PAY.RATE]),'') != ''
   AND CA1.ItemNumber=CA2.ItemNumber
 
GO
