USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP VIEW [history].[STUDENT_PROGRAMS__STPR_MAJOR_EVAL]
GO
CREATE VIEW [history].[STUDENT_PROGRAMS__STPR_MAJOR_EVAL] AS
SELECT [STPR.ACAD.PROGRAM]
, [STPR.STUDENT]

, CAST(CASE WHEN LTRIM(RTRIM(COALESCE(CA1.Item,''))) = '' THEN NULL ELSE LTRIM(RTRIM(CA1.Item)) END AS VARCHAR(35)) AS [STPR.EVAL.MAJORS]
, CAST(CASE WHEN LTRIM(RTRIM(COALESCE(CA2.Item,''))) = '' THEN NULL ELSE LTRIM(RTRIM(CA2.Item)) END AS NUMERIC(7,3)) / 100 AS [STPR.EVAL.MAJOR.GPA]
, CAST(CASE WHEN LTRIM(RTRIM(COALESCE(CA3.Item,''))) = '' THEN NULL ELSE LTRIM(RTRIM(CA3.Item)) END AS NUMERIC(9,2)) / 1000 AS [STPR.EVAL.MAJOR.CRED.TOT]
, CAST(CASE WHEN LTRIM(RTRIM(COALESCE(CA4.Item,''))) = '' THEN NULL ELSE LTRIM(RTRIM(CA4.Item)) END AS VARCHAR(11)) AS [STPR.EVAL.MAJOR.STATUS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[STUDENT_PROGRAMS]
  
 CROSS APPLY dw_util.DelimitedSplit8K([STPR.EVAL.MAJORS],', ') CA1
 CROSS APPLY dw_util.DelimitedSplit8K([STPR.EVAL.MAJOR.GPA],', ') CA2
 CROSS APPLY dw_util.DelimitedSplit8K([STPR.EVAL.MAJOR.CRED.TOT],', ') CA3
 CROSS APPLY dw_util.DelimitedSplit8K([STPR.EVAL.MAJOR.STATUS],', ') CA4
 WHERE COALESCE(TRIM([STPR.EVAL.MAJORS]),'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber
       AND CA1.ItemNumber=CA3.ItemNumber
       AND CA1.ItemNumber=CA4.ItemNumber

GO
