USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[POSITION__ALL_POSPAY] AS
SELECT [POSITION.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(30)) AS [ALL.POSPAY]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[POSITION]
  
 CROSS APPLY dw_util.DelimitedSplit8K([ALL.POSPAY],', ') CA1
 WHERE COALESCE([ALL.POSPAY],'') != ''
       
GO
