USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_CREDENTIALS__ACAD_CAST_DATE] AS
SELECT [ACAD.CREDENTIALS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS DATE) AS [ACAD.CAST.DATE]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_CREDENTIALS]
  
 CROSS APPLY dw_util.DelimitedSplit8K([ACAD.CAST.DATE],', ') CA1
 WHERE COALESCE(TRIM([ACAD.CAST.DATE]),'') != ''
 
GO
