SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP VIEW [history].[XNC_PERSON__XNC_PATHWAY] 
GO

CREATE VIEW [history].[XNC_PERSON__XNC_PATHWAY] AS
SELECT [XNC.PERSON.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(60)) AS [XNC.PATHWAY.TYPE]
, CAST(LTRIM(RTRIM(CA2.Item)) AS VARCHAR(15)) AS [XNC.PATHWAY.ENTRY]
, COALESCE(CAST(LTRIM(RTRIM(CA3.Item)) AS VARCHAR(60)),'') AS [XNC.SEC.PATHWAY.TYPE]
, COALESCE(CAST(LTRIM(RTRIM(CA4.Item)) AS VARCHAR(15)),'') AS [XNC.SEC.PATHWAY.ENTRY]
, CASE WHEN CA5.Item = '' THEN NULL ELSE CAST(LTRIM(RTRIM(CA5.Item)) AS DATE) END AS [XNC.PATHWAY.END.DATE]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[XNC_PERSON]
  
 CROSS APPLY dw_util.DelimitedSplit8K([XNC.PATHWAY.TYPE],', ') CA1
 CROSS APPLY dw_util.DelimitedSplit8K([XNC.PATHWAY.ENTRY],', ') CA2
 CROSS APPLY dw_util.DelimitedSplit8K([XNC.SEC.PATHWAY.TYPE],', ') CA3
 CROSS APPLY dw_util.DelimitedSplit8K([XNC.SEC.PATHWAY.ENTRY],', ') CA4
 CROSS APPLY dw_util.DelimitedSplit8K([XNC.PATHWAY.END.DATE],', ') CA5
 WHERE COALESCE(TRIM([XNC.PATHWAY.TYPE]),'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber
       AND CA1.ItemNumber=CA3.ItemNumber
       AND CA1.ItemNumber=CA4.ItemNumber
       AND CA1.ItemNumber=CA5.ItemNumber

GO
