USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_PROGRAM_REQMTS__REQMTS] AS
SELECT [ACPR.ACAD.PROGRAM]
      ,[ACPR.CATALOG]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(20)) AS [ACPR.ACAD.REQMTS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_PROGRAM_REQMTS]
  
 CROSS APPLY dw_util.DelimitedSplit8K([ACPR.ACAD.REQMTS],', ') CA1
 WHERE COALESCE(TRIM([ACPR.ACAD.REQMTS]),'') != ''
 
GO
