USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[XPAC_LP_ASGMTS__MNTHHRS] AS
SELECT [XPAC.LP.ASGMTS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(3)) AS [XPLPA.MONTHS]
, CAST(LTRIM(RTRIM(CA2.Item)) AS NUMERIC(10,2)) AS [XPLPA.MTH.HOURS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[XPAC_LP_ASGMTS]
  
 CROSS APPLY dw_util.DelimitedSplit8K([XPLPA.MONTHS],', ') CA1
 CROSS APPLY dw_util.DelimitedSplit8K([XPLPA.MTH.HOURS],', ') CA2
 WHERE COALESCE(TRIM([XPLPA.MONTHS]),'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber

GO
