USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[COURSE_SECTIONS__SEC_STUDENTS] AS
SELECT [COURSE.SECTIONS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(30)) AS [SEC.STUDENTS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[COURSE_SECTIONS]
  
 CROSS APPLY dw_util.DelimitedSplit8K([SEC.STUDENTS],', ') CA1
 WHERE COALESCE(TRIM([SEC.STUDENTS]),'') != ''
 
GO
