USE CCDW_HIST
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_REQMTS__PGMRQMT] AS
SELECT [ACAD.REQMTS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(20)) AS [ACR.ACAD.PROGRAM.REQMTS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_REQMTS]
  
 CROSS APPLY dw_util.DelimitedSplit8K([ACR.ACAD.PROGRAM.REQMTS],', ') CA1
 WHERE COALESCE(TRIM([ACR.ACAD.PROGRAM.REQMTS]),'') != ''
 
GO
