USE [IERG]
GO
/****** Object:  View [history].[NON_COURSES_Current]    Script Date: 1/11/2018 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[NON_COURSES_Current] AS
  SELECT [NON.COURSES.ID], [NCRS.DESC], [NCRS.SHORT.TITLE], [NCRS.CAT.DESC.CC], [NCRS.DESIRED.GRADES], [NCRS.GRADE.SCHEME], [NCRS.DESIRED.SCORE], [NCRS.COURSE.EQUIVS], [NCRS.MIN.SCORE], [NCRS.MAX.SCORE], [NCRS.TYPE], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[NON_COURSES]
  WHERE CurrentFlag = 'Y'
GO
