USE [IERG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_PROGRAM_REQMTS__OTHGRDS] AS
SELECT [ACPR.ACAD.PROGRAM]
      ,[ACPR.CATALOG]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(3)) AS [ACPR.OTHER.GRADES]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_PROGRAM_REQMTS]
  
 CROSS APPLY dbo.DelimitedSplit8K([ACPR.OTHER.GRADES],', ') CA1
 WHERE COALESCE(TRIM([ACPR.OTHER.GRADES]),'') != ''
 
GO
