USE [IERG]
GO
/****** Object:  View [history].[ACAD_PROGRAMS__ACPG_ADMISSION]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_PROGRAMS__ACPG_ADMISSION] AS
SELECT [ACAD.PROGRAMS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(30)) AS [ACPG.APPLICATION.STATUS]
, CAST(LTRIM(RTRIM(CA2.Item)) AS VARCHAR(8)) AS [ACPG.ADMIT.RULES]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_PROGRAMS]
  
 CROSS APPLY dbo.DelimitedSplit8K([ACPG.APPLICATION.STATUS],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([ACPG.ADMIT.RULES],', ') CA2
 WHERE COALESCE([ACPG.ADMIT.RULES],'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber

GO
