USE [IERG]
GO
/****** Object:  View [history].[COURSE_SEC_MEETING_Current]    Script Date: 1/11/2018 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[COURSE_SEC_MEETING_Current] AS
  SELECT [COURSE.SEC.MEETING.ID], [CSM.SEC.TERM], [CSM.BLDG], [CSM.COURSE.SECTION], [CSM.INSTR.METHOD], [CSM.ROOM], [CSM.ROOM.TYPE], [CSM.DAYS], [CSM.FREQUENCY], [CSM.START.DATE], [CSM.START.TIME], [CSM.END.DATE], [CSM.END.TIME], [COURSE.SEC.MEETING.ADDDATE], [COURSE.SEC.MEETING.ADDOPR], [COURSE.SEC.MEETING.CHGDATE], [COURSE.SEC.MEETING.CHGOPR], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[COURSE_SEC_MEETING]
  WHERE CurrentFlag = 'Y'
GO
