USE [IERG]
GO
/****** Object:  View [history].[STUDENT_ACAD_CRED_Current]    Script Date: 1/11/2018 9:56:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENT_ACAD_CRED_Current] AS
  SELECT [STUDENT.ACAD.CRED.ID], [STC.PERSON.ID], [STC.TERM], [STC.REPORTING.TERM], [STC.COURSE], [STC.SUBJECT], [STC.CRS.NUMBER], [STC.SECTION.NO], [STC.TITLE], [STC.COMMENTS], [STC.COURSE.LEVEL], [STC.ACAD.LEVEL], [STC.CEUS], [STC.CMPL.CEUS], [X.808.DEV.CRED], [STC.CRED], [STC.CMPL.CRED], [STC.CUM.CONTRIB.CMPL.CRED], [XSTC.COUNT.FOR.FTE.V2], [STC.CRED.TYPE], [STC.DEPTS], [STC.START.DATE], [STC.END.DATE], [STC.GRADE.SCHEME], [STC.COURSE.SECTION], [STC.STUDENT.COURSE.SEC], [STC.STUDENT.EQUIV.EVAL], [STC.VERIFIED.GRADE.CHGOPR], [STC.VERIFIED.GRADE.DATE], [STC.VERIFIED.GRADE], [STC.FINAL.GRADE], [STC.GRADE.PTS], [STC.STATUS], [STC.STATUS.DATE], [STC.STATUS.TIME], [STC.STATUS.REASON], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[STUDENT_ACAD_CRED]
  WHERE CurrentFlag = 'Y'
GO
