USE [IERG]
GO
/****** Object:  View [history].[ACAD_PROGRAMS__ACPG_STANDING_RULES]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_PROGRAMS__ACPG_STANDING_RULES] AS
SELECT [ACAD.PROGRAMS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(30)) AS [ACPG.ACAD.STANDINGS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_PROGRAMS]
  
 CROSS APPLY dbo.DelimitedSplit8K([ACPG.ACAD.STANDINGS],', ') CA1
 WHERE COALESCE([ACPG.ACAD.STANDINGS],'') != ''
       
GO
