USE [IERG]
GO
/****** Object:  View [history].[STUDENT_NON_COURSES_Current]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENT_NON_COURSES_Current] AS
  SELECT [STUDENT.NON.COURSES.ID], [STNC.PERSON.ID], [STNC.NON.COURSE], [STNC.TITLE], [STNC.SCORE], [STNC.SUBCOMPONENT.SCORES], [STNC.TEST.TYPE], [STNC.SOURCE], [STNC.CATEGORY], [STNC.STUDENT.EQUIV.EVAL], [STNC.INSTITUTION], [STNC.NON.CRS.GRADE.USE], [STNC.STATUS], [STNC.START.DATE], [STNC.END.DATE], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[STUDENT_NON_COURSES]
  WHERE CurrentFlag = 'Y'
GO
