USE [IERG]
GO
/****** Object:  View [history].[STUDENT_PROGRAMS__STPR_STATUSES]    Script Date: 1/11/2018 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENT_PROGRAMS__STPR_STATUSES] AS
SELECT [STPR.ACAD.PROGRAM], [STPR.STUDENT]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS DATE) AS [STPR.STATUS.DATE]
, CAST(LTRIM(RTRIM(CA2.Item)) AS VARCHAR(8)) AS [STPR.STATUS.CHGOPR]
, CAST(LTRIM(RTRIM(CA3.Item)) AS VARCHAR(30)) AS [STPR.STATUS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[STUDENT_PROGRAMS]
  
 CROSS APPLY dbo.DelimitedSplit8K([STPR.STATUS.DATE],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([STPR.STATUS.CHGOPR],', ') CA2
 CROSS APPLY dbo.DelimitedSplit8K([STPR.STATUS],', ') CA3
 WHERE COALESCE([STPR.STATUS],'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber
AND CA1.ItemNumber=CA3.ItemNumber

GO
