USE [IERG]
GO
/****** Object:  View [history].[APPLICATIONS__APPL_STATUSES]    Script Date: 1/11/2018 9:56:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[APPLICATIONS__APPL_STATUSES] AS
SELECT [APPLICATIONS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS TIME) AS [APPL.STATUS.TIME]
, CAST(LTRIM(RTRIM(CA2.Item)) AS VARCHAR(30)) AS [APPL.STATUS]
, CAST(LTRIM(RTRIM(CA3.Item)) AS DATE) AS [APPL.STATUS.DATE]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[APPLICATIONS]
  
 CROSS APPLY dbo.DelimitedSplit8K([APPL.STATUS.TIME],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([APPL.STATUS],', ') CA2
 CROSS APPLY dbo.DelimitedSplit8K([APPL.STATUS.DATE],', ') CA3
 WHERE COALESCE([APPL.STATUS],'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber
AND CA1.ItemNumber=CA3.ItemNumber

GO
