USE [IERG]
GO
/****** Object:  View [history].[STUDENT_COURSE_SEC_Current]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENT_COURSE_SEC_Current] AS
  SELECT [STUDENT.COURSE.SEC.ID], [STC.PERSON.ID], [SCS.TERM], [SCS.REG.METHOD], [SCS.STUDENT.ACAD.CRED], [XSCS.COUNT.FOR.FTE], [SCS.AR.BALANCE], [SCS.REG.TOTAL.BALANCE], [SCS.REG.TOTAL.PAYMENT], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[STUDENT_COURSE_SEC]
  WHERE CurrentFlag = 'Y'
GO
