USE [IERG]
GO
/****** Object:  View [history].[XNC_PERSON_Current]    Script Date: 1/11/2018 9:56:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[XNC_PERSON_Current] AS
  SELECT [XNC.PERSON.ID], [XNC.EDU.ENTRY.LEVEL], [XNC.FATHER.DEGREE.FLAG], [XNC.MOTHER.DEGREE.FLAG], [XNC.HEAD.HOUSEHOLD.FLAG], [XNC.SINGLE.PARENT.FLAG], [XNC.ECON.DISADVANTAGED.FLAG], [XNC.LIMITED.ENGLISH.FLAG], [XNC.INMATE.FLAG], [XNC.HIGH.SCHOOL.TRACK], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[XNC_PERSON]
  WHERE CurrentFlag = 'Y'
GO
