USE [IERG]
GO
/****** Object:  Table [history].[INSTITUTIONS_ATTEND]    Script Date: 1/11/2018 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [history].[INSTITUTIONS_ATTEND](
	[INSTA.INSTITUTIONS.ID] [varchar](10) NOT NULL,
	[INSTA.PERSON.ID] [varchar](10) NOT NULL,
	[INSTA.START.DATES] [varchar](8000) NULL,
	[INSTA.END.DATES] [varchar](8000) NULL,
	[INSTA.ACAD.CREDENTIALS] [varchar](100) NULL,
	[X.INSTA.INSTITUTION] [varchar](100) NULL,
	[INSTA.INST.TYPE] [varchar](5) NULL,
	[X.INSTA.842.ADR.STATE] [varchar](2) NULL,
	[X.INSTA.842.PREF.CITY] [varchar](30) NULL,
	[INSTA.GRAD.TYPE] [varchar](20) NULL,
	[INSTA.TRANSCRIPT.STATUS] [varchar](8000) NULL,
	[INSTA.TRANSCRIPT.DATE] [varchar](8000) NULL,
	[INSTA.TRANSCRIPT.TYPE] [varchar](8000) NULL,
	[EffectiveDatetime] [datetime] NOT NULL,
	[ExpirationDatetime] [datetime] NULL,
	[CurrentFlag] [varchar](1) NULL,
 CONSTRAINT [pk_INSTITUTIONS_ATTEND] PRIMARY KEY CLUSTERED 
(
	[INSTA.INSTITUTIONS.ID] ASC,
	[INSTA.PERSON.ID] ASC,
	[EffectiveDatetime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
