USE [IERG]
GO
/****** Object:  View [history].[COURSE_SECTIONS_Current]    Script Date: 1/11/2018 9:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[COURSE_SECTIONS_Current] AS
  SELECT [COURSE.SECTIONS.ID], [SEC.TERM], [SEC.REPORTING.TERM], [SEC.COURSE], [SEC.NAME], [SEC.NO], [SEC.USER1], [SEC.USER2], [SEC.USER6], [SEC.LOCATION], [SEC.LOCATION.DESC.CC], [SEC.CAPACITY], [SEC.EVERY.STUDENT.COUNT], [SEC.STUDENTS.COUNT], [SEC.AUDIT.STUDENT.COUNT], [SEC.ACAD.LEVEL], [SEC.CRED.TYPE], [SEC.MIN.CRED], [SEC.MAX.CRED], [SEC.BILLING.CRED], [XSEC.FTE.COUNT], [XSEC.FTE.CONTACT], [SEC.CEUS], [XSEC.FTE], [X.842.CONED.FTE], [SEC.FUNDING.SOURCES], [SEC.FUNDING.ACCTG.METHOD], [SEC.BILLING.METHOD], [SEC.FEE], [SEC.REVENUE], [SEC.CONTACT.HOURS], [SEC.CONTACT.MEASURES], [SEC.FACULTY], [SEC.COURSE.LEVELS], [SEC.STUDENTS], [SEC.STATUS.ACTION1], [SEC.STATUS], [COURSE.SECTIONS.ADDDATE], [COURSE.SECTIONS.ADDOPR], [COURSE.SECTIONS.CHGDATE], [COURSE.SECTIONS.CHGOPR], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[COURSE_SECTIONS]
  WHERE CurrentFlag = 'Y'
GO
