USE [IERG]
GO
/****** Object:  Table [history].[APPLICATIONS]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [history].[APPLICATIONS](
	[APPLICATIONS.ID] [varchar](10) NOT NULL,
	[APPL.APPLICANT] [varchar](10) NULL,
	[APPL.FIRST.NAME] [varchar](25) NULL,
	[APPL.LAST.NAME] [varchar](25) NULL,
	[APPL.DATE] [date] NULL,
	[APPL.START.DATE] [date] NULL,
	[APPL.START.TERM] [varchar](30) NULL,
	[APPL.ACAD.PROGRAM] [varchar](20) NULL,
	[APPL.ACPG.TITLE] [varchar](60) NULL,
	[APPL.STU.LOAD.INTENT.DESC] [varchar](30) NULL,
	[APPL.ADMIT.STATUS] [varchar](35) NULL,
	[APPL.ADMIT.STATUS.DESC] [varchar](40) NULL,
	[APPL.CURRENT.STUDENT] [varchar](15) NULL,
	[APPL.ENROLLED] [varchar](15) NULL,
	[APPL.ADMIT.STATE] [varchar](30) NULL,
	[FPER.ALIEN.STATUS] [varchar](30) NULL,
	[STU.IMMIGRATION.STATUS] [varchar](2) NULL,
	[APPL.STATUS] [varchar](8000) NULL,
	[APPL.STATUS.DATE] [varchar](8000) NULL,
	[APPL.STATUS.TIME] [varchar](8000) NULL,
	[APPLICATIONS.ADDOPR] [varchar](8) NULL,
	[APPLICATIONS.ADDDATE] [date] NULL,
	[EffectiveDatetime] [datetime] NOT NULL,
	[ExpirationDatetime] [datetime] NULL,
	[CurrentFlag] [varchar](1) NULL,
 CONSTRAINT [pk_APPLICATIONS] PRIMARY KEY CLUSTERED 
(
	[APPLICATIONS.ID] ASC,
	[EffectiveDatetime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
