USE [IERG]
GO
/****** Object:  View [history].[STUDENT_TERMS_Current]    Script Date: 1/11/2018 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENT_TERMS_Current] AS
  SELECT [STTR.STUDENT], [STTR.TERM], [STTR.ACAD.LEVEL], [STTR.ACTIVE.PROGRAMS], [X.STTR.PROGRAM.TITLE], [STTR.START.DATE], [STTR.FED.COHORT.GROUP], [STTR.ACTIVE.CRD.LEVELS], [STU.CMPL.CRED], [STTR.CUM.GPA], [STTR.ALL.CRED], [STTR.CMPL.CRED], [STTR.ACTIVE.CRED], [STTR.STUDENT.LOAD], [STTR.GPA], [STTR.STUDENT.TYPE], [STTR.ALIEN.FLAG], [STTR.ADMIT.STATUS], [STTR.STATUS], [STTR.STATUS.DATE], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[STUDENT_TERMS]
  WHERE CurrentFlag = 'Y'
GO
