USE [IERG]
GO
/****** Object:  View [history].[INSTITUTIONS_ATTEND__DATES_ATTENDED]    Script Date: 1/11/2018 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[INSTITUTIONS_ATTEND__DATES_ATTENDED] AS
SELECT [INSTA.INSTITUTIONS.ID], [INSTA.PERSON.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS DATE) AS [INSTA.END.DATES]
, CAST(LTRIM(RTRIM(CA2.Item)) AS DATE) AS [INSTA.START.DATES]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[INSTITUTIONS_ATTEND]
  
 CROSS APPLY dbo.DelimitedSplit8K([INSTA.END.DATES],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([INSTA.START.DATES],', ') CA2
 WHERE COALESCE([INSTA.START.DATES],'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber

GO
