USE [IERG]
GO
/****** Object:  Table [history].[ACAD_CREDENTIALS]    Script Date: 1/11/2018 9:56:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [history].[ACAD_CREDENTIALS](
	[ACAD.CREDENTIALS.ID] [varchar](10) NOT NULL,
	[ACAD.PERSON.ID] [varchar](7) NULL,
	[ACAD.ACAD.PROGRAM] [varchar](20) NULL,
	[ACAD.MAJORS] [varchar](30) NULL,
	[ACAD.TERM] [varchar](35) NULL,
	[ACAD.TRANSCRIPT.ADDRESS] [varchar](50) NULL,
	[ACAD.TRANSCRIPT.CITY] [varchar](30) NULL,
	[ACAD.TRANSCRIPT.STATE] [varchar](2) NULL,
	[ACAD.TRANSCRIPT.ZIP] [varchar](10) NULL,
	[ACAD.TRANSCRIPT.COUNTRY] [varchar](20) NULL,
	[ACAD.INSTITUTIONS.ID] [varchar](7) NULL,
	[ACAD.GPA] [numeric](7, 3) NULL,
	[ACAD.START.DATE] [date] NULL,
	[ACAD.END.DATE] [date] NULL,
	[ACAD.CAST.DATE] [date] NULL,
	[EffectiveDatetime] [datetime] NOT NULL,
	[ExpirationDatetime] [datetime] NULL,
	[CurrentFlag] [varchar](1) NULL,
 CONSTRAINT [pk_ACAD_CREDENTIALS] PRIMARY KEY CLUSTERED 
(
	[ACAD.CREDENTIALS.ID] ASC,
	[EffectiveDatetime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
