USE [IERG]
GO
/****** Object:  View [history].[ACAD_CREDENTIALS_Current]    Script Date: 1/11/2018 9:56:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_CREDENTIALS_Current] AS
  SELECT [ACAD.CREDENTIALS.ID], [ACAD.PERSON.ID], [ACAD.ACAD.PROGRAM], [ACAD.MAJORS], [ACAD.TERM], [ACAD.TRANSCRIPT.ADDRESS], [ACAD.TRANSCRIPT.CITY], [ACAD.TRANSCRIPT.STATE], [ACAD.TRANSCRIPT.ZIP], [ACAD.TRANSCRIPT.COUNTRY], [ACAD.INSTITUTIONS.ID], [ACAD.GPA], [ACAD.START.DATE], [ACAD.END.DATE], [ACAD.CAST.DATE], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[ACAD_CREDENTIALS]
  WHERE CurrentFlag = 'Y'
GO
