USE [IERG]
GO
/****** Object:  Table [history].[STUDENT_PROGRAMS]    Script Date: 1/11/2018 9:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [history].[STUDENT_PROGRAMS](
	[STPR.STUDENT] [varchar](10) NOT NULL,
	[STPR.ACAD.PROGRAM] [varchar](20) NOT NULL,
	[STPR.ADMIT.STATUS] [varchar](35) NULL,
	[STPR.CATALOG] [varchar](35) NULL,
	[STPR.DEPT] [varchar](25) NULL,
	[STPR.START.DATE] [varchar](8000) NULL,
	[STPR.END.DATE] [varchar](8000) NULL,
	[STPR.EVAL.MAJOR.GPA.MV] [varchar](max) NULL,
	[STPR.STUDENT.ED.PLAN] [varchar](10) NULL,
	[STPR.USER1] [varchar](10) NULL,
	[STPR.STATUS] [varchar](8000) NULL,
	[STPR.STATUS.DATE] [varchar](8000) NULL,
	[STPR.STATUS.CHGOPR] [varchar](8000) NULL,
	[EffectiveDatetime] [datetime] NOT NULL,
	[ExpirationDatetime] [datetime] NULL,
	[CurrentFlag] [varchar](1) NULL,
 CONSTRAINT [pk_STUDENT_PROGRAMS] PRIMARY KEY CLUSTERED 
(
	[STPR.ACAD.PROGRAM] ASC,
	[STPR.STUDENT] ASC,
	[EffectiveDatetime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
