USE [IERG]
GO
/****** Object:  View [history].[HRPER__PERLEAVE_INFO]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[HRPER__PERLEAVE_INFO] AS
SELECT [HRPER.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS DATE) AS [HRP.PERLV.START.DATE]
, CAST(LTRIM(RTRIM(CA2.Item)) AS DATE) AS [HRP.PERLV.END.DATE]
, CAST(LTRIM(RTRIM(CA3.Item)) AS DATE) AS [HRP.PERLV.LAST.PAY.DATE]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[HRPER]
  
 CROSS APPLY dbo.DelimitedSplit8K([HRP.PERLV.START.DATE],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([HRP.PERLV.END.DATE],', ') CA2
 CROSS APPLY dbo.DelimitedSplit8K([HRP.PERLV.LAST.PAY.DATE],', ') CA3
 WHERE COALESCE([HRP.PERLV.LAST.PAY.DATE],'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber
AND CA1.ItemNumber=CA3.ItemNumber

GO
