USE [IERG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[PERSON__VETERAN_ASSOC] AS
SELECT [ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(20)) AS  [VETERAN.TYPE]
, CAST(LTRIM(RTRIM(CA2.Item)) AS VARCHAR(200)) AS  [VETERAN.TYPE2.DESCRIPTION]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[PERSON]
  
 CROSS APPLY dbo.DelimitedSplit8K( [VETERAN.TYPE],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K( [VETERAN.TYPE2.DESCRIPTION],', ') CA2
 WHERE COALESCE( [VETERAN.TYPE],'') != ''
 AND CA1.ItemNumber = CA2.ItemNumber
       
GO
