USE [IERG]
GO
/****** Object:  View [history].[STUDENT_ACAD_LEVELS_Current]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENT_ACAD_LEVELS_Current] AS
  SELECT [STA.STUDENT], [STA.ACAD.LEVEL], [STA.TERMS], [STA.ADMIT.STATUS], [STA.FED.COHORT.GROUP], [STA.START.TERM], [STA.CLASS], [STA.STUDENT.STANDINGS.SAL], [STA.CURRENT.STANDING], [STA.START.DATE], [STA.END.DATE], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[STUDENT_ACAD_LEVELS]
  WHERE CurrentFlag = 'Y'
GO
