USE [IERG]
GO
/****** Object:  View [history].[TA_ACYR_Current]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[TA_ACYR_Current] AS
  SELECT [TA.STUDENT.ID], [TA.ACYR], [TA.FIRST], [TA.MIDDLE], [TA.LAST], [TA.AWDP.START.DATE], [TA.TERM], [TA.REG.CREDITS], [TA.QUERY.REG.CREDITS], [TA.NEED], [TA.INST.NEED], [TA.AW.ID], [TA.AWARD.CATEGORY], [TA.TERM.ACTION], [TA.TERM.AMOUNT], [TA.AMT.FLAG], [TA.TERM.XMIT.AMT], [TA.TERM.XMIT.DT], [TA.XMIT.FLAG], [TA.TERM.UNXMIT.AMT], [TA.D7.EXCESS.XMIT.AMT], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[TA_ACYR]
  WHERE CurrentFlag = 'Y'
GO
