USE [IERG]
GO
/****** Object:  View [history].[STUDENT_TERMS__STTR_STATUSES]    Script Date: 1/11/2018 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENT_TERMS__STTR_STATUSES] AS
SELECT [STTR.STUDENT], [STTR.TERM], [STTR.ACAD.LEVEL]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(30)) AS [STTR.STATUS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[STUDENT_TERMS]
  
 CROSS APPLY dbo.DelimitedSplit8K([STTR.STATUS],', ') CA1
 WHERE COALESCE([STTR.STATUS],'') != ''
       
GO
