USE [IERG]
GO
/****** Object:  View [history].[COURSE_SECTIONS__SEC_CONTACT]    Script Date: 1/11/2018 9:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[COURSE_SECTIONS__SEC_CONTACT] AS
SELECT [COURSE.SECTIONS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(30)) AS [SEC.CONTACT.MEASURES]
, CAST(LTRIM(RTRIM(CA2.Item)) AS NUMERIC(6,2)) AS [SEC.CONTACT.HOURS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[COURSE_SECTIONS]
  
 CROSS APPLY dbo.DelimitedSplit8K([SEC.CONTACT.MEASURES],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([SEC.CONTACT.HOURS],', ') CA2
 WHERE COALESCE([SEC.CONTACT.HOURS],'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber

GO
