USE [IERG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_REQMT_BLOCKS__FROM_COURSES] AS
SELECT [ACAD.REQMT.BLOCKS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(15)) AS [ACRB.FROM.COURSES]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_REQMT_BLOCKS]
  
 CROSS APPLY dbo.DelimitedSplit8K([ACRB.FROM.COURSES],', ') CA1
 WHERE COALESCE(TRIM([ACRB.FROM.COURSES]),'') != ''
 
GO
