USE [IERG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[PAC_LP_POSITIONS__ASGMTS_IDS] AS
SELECT [PAC.LP.POSITIONS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(30)) AS [PLPP.PAC.LP.ASGMTS.IDS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[PAC_LP_POSITIONS]
  
 CROSS APPLY dbo.DelimitedSplit8K([PLPP.PAC.LP.ASGMTS.IDS],', ') CA1
 WHERE COALESCE([PLPP.PAC.LP.ASGMTS.IDS],'') != ''
       
GO
