USE [IERG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_REQMT_BLOCKS__SUBBLKS] AS
SELECT [ACAD.REQMT.BLOCKS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(20)) AS [ACRB.SUBBLOCKS]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_REQMT_BLOCKS]
  
 CROSS APPLY dbo.DelimitedSplit8K([ACRB.SUBBLOCKS],', ') CA1
 WHERE COALESCE(TRIM([ACRB.SUBBLOCKS]),'') != ''
 
GO
