USE [IERG]
GO
/****** Object:  View [history].[XLE_STUDENTS_Current]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[XLE_STUDENTS_Current] AS
  SELECT [XLE.STUDENTS.ID], [XLE.AHS.NEEDED], [XLS.AHS.COMPLETE], [XLE.AHS.TRANS.IN], [XLE.AHS.TRANS.DATE], [XLE.STU.INTAKE.DATE], [XLE.SEPARATION.DATE], [XLE.TEST.CODE], [XLE.TEST.DATE], [XLE.TEST.SCORE], [XLE.STUDENT.DATA], [XLE.AHS.1ST.ATTDATE], [XLE.AHS.1ST.COMDATE], [XLE.STUDENTS.ADDDATE], [XLE.STUDENTS.ADDTIME], [XLE.STUDENTS.ADDOPR], [XLE.STUDENTS.CHGDATE], [XLE.STUDENTS.CHGTIME], [XLE.STUDENTS.CHGOPR], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[XLE_STUDENTS]
  WHERE CurrentFlag = 'Y'
GO
