USE [IERG]
GO
/****** Object:  View [history].[STUDENT_NON_COURSES__NON_COURSE_SUBS]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENT_NON_COURSES__NON_COURSE_SUBS] AS
SELECT [STUDENT.NON.COURSES.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS NUMERIC(5,0)) AS [STNC.SUBCOMPONENT.SCORES]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[STUDENT_NON_COURSES]
  
 CROSS APPLY dbo.DelimitedSplit8K([STNC.SUBCOMPONENT.SCORES],', ') CA1
 WHERE COALESCE([STNC.SUBCOMPONENT.SCORES],'') != ''
       
GO
