USE [IERG]
GO
/****** Object:  View [history].[STUDENTS__STU_RESIDENCIES]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[STUDENTS__STU_RESIDENCIES] AS
SELECT [STUDENTS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(35)) AS [STU.RESIDENCY.STATUS]
, CAST(LTRIM(RTRIM(CA2.Item)) AS DATE) AS [STU.RESIDENCY.STATUS.DATE]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[STUDENTS]
  
 CROSS APPLY dbo.DelimitedSplit8K([STU.RESIDENCY.STATUS],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([STU.RESIDENCY.STATUS.DATE],', ') CA2
 WHERE COALESCE([STU.RESIDENCY.STATUS],'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber

GO
