USE [IERG]
GO
/****** Object:  View [history].[COURSES_Current]    Script Date: 1/11/2018 9:56:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[COURSES_Current] AS
  SELECT [COURSES.ID], [CRS.NAME], [CRS.SUBJECT], [CRS.NO], [CRS.TITLE], [CRS.SHORT.TITLE], [CRS.DESC], [CRS.MIN.CRED], [CRS.MAX.CRED], [CRS.CEUS], [CRS.CIP], [CRS.SCHOOLS], [CRS.DIVISIONS], [CRS.COREQ.COURSES], [CRS.COREQ.COURSES.REQD.FLAG], [CRS.DEPTS], [CRS.DEPT.PCTS], [CRS.COURSE.TYPES], [CRS.STATUS], [CRS.STATUS.DATE], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[COURSES]
  WHERE CurrentFlag = 'Y'
GO
