USE [IERG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[XNC_PERSON__XNC_PATHWAY] AS
SELECT [XNC.PERSON.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(60)) AS [XNC.PATHWAY.TYPE]
, CAST(LTRIM(RTRIM(CA2.Item)) AS VARCHAR(15)) AS [XNC.PATHWAY.ENTRY]
, CAST(LTRIM(RTRIM(CA3.Item)) AS DATE) AS [XNC.PATHWAY.END.DATE]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[XNC_PERSON]
  
 CROSS APPLY dbo.DelimitedSplit8K([XNC.PATHWAY.TYPE],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([XNC.PATHWAY.ENTRY],', ') CA2
 CROSS APPLY dbo.DelimitedSplit8K([XNC.PATHWAY.END.DATE],', ') CA3
 WHERE COALESCE(TRIM([XNC.PATHWAY.TYPE]),'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber
       AND CA1.ItemNumber=CA3.ItemNumber

GO
