USE [IERG]
GO
/****** Object:  View [history].[ACAD_PROGRAMS__PROGRAM_STATUS]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[ACAD_PROGRAMS__PROGRAM_STATUS] AS
SELECT [ACAD.PROGRAMS.ID]
       
, CAST(LTRIM(RTRIM(CA1.Item)) AS VARCHAR(25)) AS [ACPG.APPROVAL.IDS]
, CAST(LTRIM(RTRIM(CA2.Item)) AS DATE) AS [ACPG.APPROVAL.DATES]
, CAST(LTRIM(RTRIM(CA3.Item)) AS VARCHAR(20)) AS [ACPG.STATUS]
, CAST(LTRIM(RTRIM(CA4.Item)) AS VARCHAR(15)) AS [ACPG.APPROVAL.AGENCY.IDS]
, CAST(LTRIM(RTRIM(CA5.Item)) AS DATE) AS [ACPG.STATUS.DATE]
     , CA1.ItemNumber AS ItemNumber
     , EffectiveDatetime
  FROM [history].[ACAD_PROGRAMS]
  
 CROSS APPLY dbo.DelimitedSplit8K([ACPG.APPROVAL.IDS],', ') CA1
 CROSS APPLY dbo.DelimitedSplit8K([ACPG.APPROVAL.DATES],', ') CA2
 CROSS APPLY dbo.DelimitedSplit8K([ACPG.STATUS],', ') CA3
 CROSS APPLY dbo.DelimitedSplit8K([ACPG.APPROVAL.AGENCY.IDS],', ') CA4
 CROSS APPLY dbo.DelimitedSplit8K([ACPG.STATUS.DATE],', ') CA5
 WHERE COALESCE([ACPG.STATUS],'') != ''
       AND CA1.ItemNumber=CA2.ItemNumber
AND CA1.ItemNumber=CA3.ItemNumber
AND CA1.ItemNumber=CA4.ItemNumber
AND CA1.ItemNumber=CA5.ItemNumber

GO
