USE [IERG]
GO
/****** Object:  View [history].[APPLICATIONS_Current]    Script Date: 1/11/2018 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [history].[APPLICATIONS_Current] AS
  SELECT [APPLICATIONS.ID], [APPL.APPLICANT], [APPL.FIRST.NAME], [APPL.LAST.NAME], [APPL.DATE], [APPL.START.DATE], [APPL.START.TERM], [APPL.ACAD.PROGRAM], [APPL.ACPG.TITLE], [APPL.STU.LOAD.INTENT.DESC], [APPL.ADMIT.STATUS], [APPL.ADMIT.STATUS.DESC], [APPL.CURRENT.STUDENT], [APPL.ENROLLED], [APPL.ADMIT.STATE], [FPER.ALIEN.STATUS], [STU.IMMIGRATION.STATUS], [APPL.STATUS], [APPL.STATUS.DATE], [APPL.STATUS.TIME], [APPLICATIONS.ADDOPR], [APPLICATIONS.ADDDATE], [EffectiveDatetime], [ExpirationDatetime], [CurrentFlag] 
  FROM [history].[APPLICATIONS]
  WHERE CurrentFlag = 'Y'
GO
